body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("../public/images/bg6.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: luminosity;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar{
  display: none;
}

/* Header */

.navbar{
  background-color: rgb(14, 122, 0);
}

.navbar .navbar-brand{
  font-weight: 500;
}

/* Footer */

.footer{
  color: white;
  background-color: rgb(14, 122, 0);
}

.footer .container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.footer .container .questions .qs, .footer .container .brands{
  display: flex;
  flex-direction: column;
}

.footer .container .questions .qs a, .footer .container .brands a{
  text-decoration: none;
  color: white;
  font-weight: 90;
}

.footer .container .questions .qs a:hover, .footer .container .brands a:hover{
  text-decoration: underline;
  color: rgb(0, 217, 255);
}


/* Home */
.home .half{
  top: -10em;
  right: -5em;
  height: 70em;
  width: 45%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 2;
  transform: rotateZ(20deg);
}

.home .half-text{
  position: absolute;
  top: 14em;
  color: white;
  right: 5em;
  width: 12em;
  opacity: 80%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  z-index: 3;
}

.home .half-text::first-letter{
  font-size: 2em;
}

.home .carousel{
  z-index: 1;
}

.home .carousel .carousel-control-prev, .home .carousel .carousel-control-next, .home .carousel .carousel-indicators{
  z-index: 3;
}

.home .carousel-inner img{
  height: 38em;
  width: 100%;
  filter: invert(15%);
}

.home-cat .card{
  width: 20rem;
  cursor: pointer;
  overflow: hidden;
}

.home-cat .card .titletilt{
  top: -65%;
  left: -5%;
  height: 50%;
  width: 110%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  transform: rotateZ(-10deg);
  z-index: 3;
}

.home-cat .card .card-img-overlay{
  z-index: 5;
}

.home-cat .card img{
  filter: invert(10%);
}

.home-cat .card:hover{
  transform: scale(1.05);
  transition: all 0.5s ease 0s;
}

.home-cat .card:hover .titletilt{
  animation: hometitletilt 1s ease-out 0s 1 forwards;
}

.home-cat .card:hover .card-img-overlay{
  animation: homeimgoverlay 1s ease-out 0s 1 forwards;
}

@keyframes hometitletilt {
  0%{ top: -65%; }
  100%{ top: 20%; }
}

@keyframes homeimgoverlay {
  0%{ top: 0%; }
  100%{ top: 27%; }
}

.home-specials .card{
  width: 30rem;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(0.2em);
}

.home-specials .card img{
  filter: invert(10%);
}

.home .easy{
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.home .easy .select, .home .easy .pay{
  border-right: 0.1em solid black;
}

.home .easy ion-icon{
  font-size: 3em;
}

/* About Page */
.about{
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 1em;
}

.about .image-container .card{
  width: 22em;
  color: white;
  z-index: 2;
  overflow: hidden;
}

.about .image-container .card .backtilt{
  top: -10%;
  right: -15%;
  position: absolute;
  height: 180%;
  width: 60%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: rotateZ(35deg);
  display: none;
  z-index: 3;
}

.about .image-container .card .card-title{
  margin-top: 7.5em;
  margin-right: -9em;
  color: white;
}

.about .image-container .card .card-img-overlay{
  z-index: 5;
}

.about .image-container .card:hover{
  transform: scale(1.02);
  transition: all 1s;
}

.about .image-container .card:hover img{
  filter: invert(15%);
  animation: aboutimg 1s linear 0s 1 forwards;
}

.about .image-container .card:hover .backtilt{
  display: block;
  animation: aboutbacktilt 1s ease-out 0s 1 forwards;
}

.about .image-container .card:hover .card-title{
  animation: abouttext 1s linear 0s 1 forwards;
}

@keyframes abouttext{
  0%{ margin-right: -9rem; }
  100%{ margin-right: 0em; }
}

@keyframes aboutimg {
  0%{ filter: invert(0%); }
  100%{ filter: invert(15%); }
}

@keyframes aboutbacktilt {
  0%{ right: -70%; }
  100%{ right: -15%; }
}

@media screen and (max-width: 500px){
  .home .half{
    height: 70em;
    width: 85%;
  }
  
  .home .half-text{
    top: 17em;
    right: 1em;
    width: 6em;
  }
  
  .home .half-text::first-letter{
    font-size: 2em;
  }
}

@media screen and (max-width: 800px) and (min-width: 500px){
  .home .half{
    height: 70em;
    width: 70%;
  }
  
  .home .half-text{
    top: 14em;
    right: 2em;
    width: 8em;
  }
  
  .home .half-text::first-letter{
    font-size: 2em;
  }
}

@media screen and (max-width: 1300px) and (min-width: 800px){
  .home .half{
    height: 70em;
    width: 55%;
  }
  
  .home .half-text{
    top: 14em;
    right: 3em;
    width: 10em;
  }
  
  .home .half-text::first-letter{
    font-size: 2em;
  }
}